<aside>
  <div class="widget">
    <div class="imagen">
      <img src="img/Elgrupo.jpg" alt="">
    </div>
    <h3 class="titulo">Regular Show</h3><br>
    <p>
      Un Show mas (Historias corrientes en España y Regular Show en ingles) es una serie animada estadounidense creada por
      <a href="https://es.wikipedia.org/wiki/J._G._Quintel" target="_blank">J.G. Quintel.</a><br><br>
      Fue aprobada el 13 de agosto de 2009 por
      <a href="https://es.wikipedia.org/wiki/Cartoon_Network" target="_blank">Cartoon Network</a> en su episodio piloto
      y se estrenó en Latinoamérica el 11 de Agosto del 2010.<br><br>
      Con 8 temporadas de 261 episodios, una película, 40 cómics de Mordecai y Rigby más 6 tomos especiales de Skips y con 7 premios Emmy,
      Un show más se volvió una de las series más vistas de Cartoon Network.
    </p>
  </div>

  <div class="widget">
    <h3 class="titulo">Ejemplos de consultas</h3>
    <ul>
      <li><a href="top-imdb.html">TOP 10 Capitulos segun IMDb</a></li>
      <li><a href="villanos.html">Algunos villanos</a></li>
      <li><a href="cap-final.html">El final de la serie</a></li>
    </ul>
  </div>
</aside>
