<article>
    <h2>¿Dónde ver Regular Show?</h2>
    <p>
        Sabemos que desde que Cartoon Network dejó de emitir la serie por su transmisión, hubo un gran incremento por parte de los fans en búsqueda
        de formas para poder seguir viéndola.
    </p>
    <p>
        Aquí dejamos algunas formas de pago y alternativas para poder disfrutar de nuestra amada serie alocada.
    </p> <br>
    
    <div class="platforms">
        <a class="platform" href="https://www.max.com" target="_blank" rel="noopener">
            <img src="../img/plataformas/hbomax.jpg" alt="Max">
        </a>
        <a class="platform" href="https://tv.apple.com" target="_blank" rel="noopener">
            <img src="../img/plataformas/apple-tv.jpg" alt="Apple TV+">
        </a>
        <a class="platform" href="https://www.primevideo.com" target="_blank" rel="noopener">
            <img src="../img/plataformas/primevideo.jpg" alt="Prime Video">
        </a>
        <a class="platform" href="https://cuevana3" target="_blank" rel="noopener">
            <img src="../img/plataformas/cuevana.jpg" alt="Cuevana (alternativa)">
        </a>
        <a class="platform" href="https://lacartoons" target="_blank" rel="noopener">
            <img src="../img/plataformas/lacartoons.jpg" alt="LACartoons (alternativa)">
        </a>
    </div>

    
    <br>
    <p>
        Una curiosidad con respecto a las plataformas de pago disponibles para ver la serie es que en ninguna aparece el episodio piloto,
        con el cual se mostró al público en sus inicios por allá en 2010.
    </p>

    <p>
        Las plataformas de Prime Video y HBO Max cuentan con solo 12 capítulos de la primera temporada, mientras que en Apple TV+ se pueden ver 20 capítulos.
        En las plataformas gratuitas, Cuevana también cuenta con solo 12 episodios, mientras que LACartoons ofrece los 30 episodios de la primera temporada.
    </p>
    <hr>
</article>